# render.yaml
services:
  - type: web
    name: SmartBudget-MVP
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: SECRET_KEY
        value: your_strong_and_secure_secret_key_for_smartbudget

    autoDeploy: true

    pythonVersion: "3.13"
